<!DOCTYPE html>
<html lang="es">        
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flash cards</title>
        <link rel="stylesheet" href="../styles/ejemplo.css">
        
    </head>
    <body>
            <button id ="volver" onclick="window.location.href='../index.html'">Volver</button>        
            <h1 id="titulo">Ejemplo de Flash Card</h1>
            <div id="example-content">
                <div class="flashcard">
                    <div class="card-inner">
                        <div id="pregunta" class="card-front">
                        
                        </div>
                        <div id="respuesta" class="card-back">
                            
                        </div>
                    </div>
                </div>
                <button class="btn-azul" id="siguiente" onclick=siguiente() >Siguiente</button>
            </div>
            <script src="../logic/flashcards.js"></script>
    </body>
</html>