*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: rgb(214, 225, 221);
}

#crear-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}


  button {
  background-color: #9500ff; /* verde moderno */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 8px;
}

button:hover {
  background-color: #40006e;
  transform: scale(1.03);
}

button:active {
  transform: scale(0.98);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

#flashcard-form {
    
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    
}

#nueva-pregunta, #nueva-respuesta {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ffffff;
    background-color: #f1edf3;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#nueva-pregunta::placeholder, #nueva-respuesta::placeholder {
    color: #121212b2;
}

#crear-container{
  background-color: #000000;
  padding: 20px;
}